/*.Cards {*/
/*  margin: 50px 0;*/
/*  display: grid;*/
/*  grid-template-columns: auto auto auto auto auto;*/
/*  align-items: center;*/
/*  justify-content: center;*/
/*  gap: 20px;*/
/*}*/

.Card {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  --width: 100px;
  width: var(--width);
  height: calc(var(--width) * 1.56);
  border: 1px solid gray;
  border-radius: 10px;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.09);
}

.Card-rank {
  position: absolute;
  top: 5px;
  right: 10px;
}

.Suit {
  font-size: 30px;
}

.Stock {
  position: absolute;
  left: 30px;
  top: 30px;
}
