.Card {
  position: relative;
  width: var(--cardWidth);
  height: var(--cardHeight);
  background: white;

  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.13), 0 0 1px rgba(0, 0, 0, 0.43);
}

.Card-back {
  background: #77679a;
}
